* {
  margin:0;
  box-sizing: border-box;
  font-family: "Ledger";
}
.absolute { position:absolute; }
.relative { position:relative; }
.flex { display:flex; }
.space-between { justify-content:space-between; }
.justify-center { justify-content:center; }
.align-center { align-items:center; }
@font-face {
  font-family: Ledger;
  src: url(./Ledger-Regular.ttf);
}